* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #a5d3ba;
}
.nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(250, 250, 250);
  box-shadow: -.5px .5px 10px 3px rgba(0, 0, 0, 0.479);
}
.nav-center {
  margin: 1rem;
  color: #37baee;
  letter-spacing: 0.1rem;
  font-family: 'Roboto Slab', serif;
}
.nav-links ul {
  list-style-type: none;
  display: flex;
}
.nav-links ul li {
  margin: 1rem;
}
.nav-links ul li a {
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: black;
  font-family: 'Roboto Slab', serif;
}
.main {
  height: 100vh;
  position: relative;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
}
.container h2 {
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.8rem;
  font-family: 'Roboto Slab', serif;
}
.color {
  color: #37baee;
  font-size: inherit;
  text-transform: capitalize;
}
.container .btn {
  background-color: inherit;
  border: 2px solid rgba(0, 0, 0, 0.856);
  border-radius: 0.5rem;
  outline: none;
  text-align: center;
  padding: 0.6rem 0.8rem;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  margin-top: 3rem;
  font-family: 'Roboto Slab', serif;
  transition: .6s ease-out;
}
/* =============================================hover styles*/
.container .btn:hover {
  background-color: rgba(0, 0, 0, 0.863);
  color: white;
  cursor: pointer;
}
.nav-links ul li a:hover {
  color: #37baee;
}
